body.index{
    display: flex;
    align-items: center;
    height: 75vh;
}
.logo_login{
    width: 90%;
    margin: 10px auto; 
}
.input-group{
    width: 500px !important;
}

.boton_borrar{
    height: 36px;
    margin-top: 10px;
}
.login{
    padding: 10px !important;
    font: size 20px !important;
}

.label{
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
}
.bg-lighte{
    background-color: white !important;
}
.text-muted{
    margin-bottom: 20px;
}

.filter-controls{
    background-color: #212529;
    margin: 0 auto !important;
}
.img_container{
    width: 100%;
    overflow: hidden;
}

.img_container img{
    width: 300px;
    height: auto;
}

.imagen_formulario{
    margin-top: 30px;
    text-align: center;
}

.imagen_formulario img{
    width: 100%;
    height: auto;
}

.card-title{
    font-weight: bold !important;
  }

  .card-categoria{
    font-style: italic;
  }

  .card-tags{
    margin: 5px 0;
  }

  .fila{
    padding: 20px 0;
  }
  

body{
    width: 90%;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

.label_filtro{
    color:white;
    margin-top: 15px;
}

.navbar{
    padding: 10px;
}

a, a:hover{
    text-decoration: none;
    color: white;
}



p{
    margin: 0;
}

#editar_imagen{
    margin-top: 30px;
}

.title{
    text-align: center;
    margin: 30px auto 10px;
}
.contenedor_formulario{
    width: 30%;
    margin: 0 auto;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #48529944;
}

#login{
    padding: 20px;
}

.btn-login{
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    width: 100%;
    
}

#filtro{
    width: 50%;
    padding: 5px;
    margin: 10px;
}
.filtro button{
    margin-top: -4px;
    
}
.boton_enviar{
    margin-top: 30px;
}

.informacion{
    color: white;
    margin-top: 9px;
    width: 650px;
    text-align: right;
    padding-right: 20px;
}




a i{
    color: #000;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 24px;
    margin: 10px;
}


.f-left {
    float: left;
}

.f-right {
    float: right;
}

.card-margin {
margin-bottom: 1.875rem;
}

.card {
border: 0;
box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
-webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
-moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
-ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #ffffff;
background-clip: border-box;
border: 1px solid #e6e4e9;
border-radius: 8px;

}



.card .card-header.no-border {
border: 0;
}
.card .card-header {
background: none;
padding: 0 0.9375rem;
font-weight: 500;
display: flex;
align-items: center;
min-height: 50px;
}
.card-header:first-child {
border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.img_container{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

 footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0;
   margin-top: 100px;
   border-top: 1px solid #ccc;
   width: 100%;
   float: left;
 }